@font-face {
  font-family: 'Muli-Italic';
  src: url('/fonts/Muli-Italic.tff') format('ttf')
}

@font-face {
  font-family: 'Muli-Light';
  src: url('/fonts/Muli-Light.tff') format('ttf')
}

@font-face {
  font-family: 'Muli-Regular';
  src: url('/fonts/Muli-Regular.tff') format('ttf')
}

@font-face {
  font-family: 'Muli-LightItalic';
  src: url('/fonts/Muli-LightItalic.tff') format('ttf')
}

@font-face {
  font-family: 'Novecentosans-Bold';
  src: url('fonts/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'), url('fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff')
}

@font-face {
  font-family: 'Novecentosans-Normal';
  src: url('fonts/Novecentosanswide-Normal-webfont.woff2') format('woff2'), url('fonts/Novecentosanswide-Normal-webfont.woff') format('woff')
}

@font-face {
  font-family: 'Novecentosans-Light';
  src: url('fonts/Novecentosanswide-Light-webfont.woff2') format('woff2'), url('fonts/Novecentosanswide-Light-webfont.woff') format('woff')
}

html {
  box-sizing: border-box;
  color: #333;
  background-color: white;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  padding-top: 20px;
  margin-bottom: 20px;
}

div.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #83abba;
  font-family: 'Novecentosans-Normal';
  color: #212121;
}

.nav-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 910px) {
  div.nav .nav-container {
    padding: 0 15px;
  }
}

div.nav .nav-container .brandname {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

@media (max-width: 910px) {
  div.nav .nav-container .brandname {
    display: none;
    flex: initial;
  }
}

div.nav .nav-container .logo-wrapper {
  display: flex;
  flex: 1 1 10%;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

@media (max-width: 910px) {
  div.nav .nav-container .logo-wrapper {
    flex: 1 1 50%;
    justify-content: flex-start;
    display: none;
  }
}

div.nav .nav-container .logo-wrapper img {
  max-height: 100%;
  height: 60px;
}

div.nav ul {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 45%;
  padding: 0 50px;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (max-width: 910px) {
  div.nav .nav-container ul {
    flex: 1 1 50%;
    padding: 0;
    display: none;
  }
}

@media (max-width: 1250px) {
  div.nav ul {
    padding: 0 0;
  }
}

div.nav a,
div.nav ul a {
  text-transform: uppercase;
}

div.nav ul li {
  letter-spacing: 2px;
}

.button-collapse {
  display: none;
  align-items: center;
}

.button-collapse i {
  font-size: 60px;
  color: #212121;
}

@media (max-width: 910px) {
  .button-collapse {
    display: flex;
  }
}

.hero-container {
  height: 400px;
  max-width: 100%;
}

.hero {
  background-color: white !important;
  background-image: url('images/keyboard.png');
  /*   background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/keyboard.png');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  /*  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-copy {
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 3px;
  font-family: 'Novecentosans-Bold';
  text-align: center;
}

.hero-text {
  color: white;
  font-size: 2.5em;
}

svg {
  border: 1px solid green;
  max-height: 100px;
  ;
}


/*PROJECT SECTION*/

section.projects {
  background-color: #fff;
}

section.about {
  background-color: #151515;
  color: #fff;
  font-size: 1.4em;
  letter-spacing: 2px;
}