/* -------------------------------------- */


/* BASIC SETUP */


/* -------------------------------------- */

html {
  background-color: #EDEDED !important;
  box-sizing: border-box;
  color: #333;
  background-color: white !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* -------------------------------------- */


/* NAVBAR */


/* -------------------------------------- */

.nav-wrapper {
  letter-spacing: 0.5px;
  font-weight: 300;
  background-color: white;
}

nav a,
nav ul a {
  color: #333 !important;
}


/* -------------------------------------- */


/* HERO SECTION */


/* -------------------------------------- */

.parallax-container {
  height: 400px;
}

.parallax {
  background-color: white !important;
  background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/dallassky.jpg');
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/dallassky.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.glass {
  border: 1px solid #333;
  padding: 25px;
  background-color: rgba(87, 189, 232, .6);
}

.hero-text {
  color: white;
  font-size: 2.5em;
  /*text-align center not working with helper class*/
}

.hero-copy-lead {
  font-weight: 300;
}

.hero-copy-sub {
  font-weight: 200;
  font-size: 2em;
}

.hero-copy-stack {
  background: #7f7f7f;
  background: rgba(51, 51, 51, 0.5);
  padding: 3px;
  color: #1e88e5;
  font-weight: 300;
}

.hero-copy-stack-off {
  color: white;
}

.btn-resume {
  margin: 20px auto 0 auto;
  opacity: .65;
  background-color: white;
  border: 1px solid #333;
  color: #333;
}

.btn-resume:hover {
  opacity: .9;
  background-color: #333;
  color: white;
}


/* -------------------------------------- */


/* SAYHELLO-MODAL-FORM-STYLES */


/* -------------------------------------- */


/* label color */

.input-field label {
  color: #1e88e5;
}


/* label focus color */

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field textarea:focus + label {
  color: #1e88e5 !important;
}

textarea.materialize-textarea {
  margin-bottom: 0;
}


/* label underline focus color */

.input-field input[type=text]:focus,
.input-field input[type=text].valid,
.input-field input[type=text].invalid,
.input-field input[type=email]:focus,
.input-field input[type=email].valid,
.input-field input[type=email].invalid,
.input-field textarea:focus,
.input-field textarea.valid,
.input-field textarea.invalid,
.input-field textarea:focus {
  border-bottom: 1px solid #1e88e5 !important;
  ;
  box-shadow: 0 1px 0 0 #1e88e5 !important;
}


/* icon prefix focus color */

.input-field .prefix.active {
  color: #1e88e5;
}


/*PROJECT SECTION*/

section.projects {
  background-color: #fff;
}

section.about {
  background-color: #151515;
  color: #fff;
  font-size: 1.8em;
  letter-spacing: 2px;
  line-height: 40px;
  margin-top: 6em;
  margin-bottom: 4em;
}


/* -------------------------------------- */


/* RANDOM JUNK */


/* -------------------------------------- */


/*.intro {
  text-align: center;
  padding-top: 13%;
  padding-bottom: 13%;
  margin-bottom: 50px;
}

.intro h1 {
  font-weight: 900;
  text-transform: uppercase;
}

.intro h5 {
  text-transform: uppercase;
  background-color: #f5f5f5;
  padding: 10px;
  color: #333333;
  display: inline-block;
  font-size: 1.2rem;
}*/